<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Float</title>
    <link rel="stylesheet" type="text/css" href="..\styles\propertiesEX.css">
</head>

<body>
    <div class="box" id="div1">
        Div1
    </div>
    <div class="box">
        DivBox
    </div>

    <div class="animated-box">
        <img src="..\images\patrick-star-do-list.jpg">
    </div>

    <div class="transform-circle">
        <img src="..\images\017.jpg">
    </div>

    <div class="fadeInDown">
        <img src="..\images\16463302_1575867565765806_1255191242671665688_o (2).jpg">
    </div>

    <div class="hinge">
        hinge
    </div>

    <div class="boxquery">
        <p>asdfhnadnfnasdnflajs dnflijansdlfjnasdlfnalsdjfna sa sndn skdn fka</p>
    </div><br />

    <div id="bounce">
        bounce
    </div><br />

    <div id="leftToRight">
        left to right
    </div><br />

    <img src="..\images\16463302_1575867565765806_1255191242671665688_o (2).jpg" id="leftToRight"><br />

    <div class="jellybox">
        <span id="boxText">jelly</span>
    </div><br />

    <div class="fade">
        fade
    </div> <br />

    <div class="shake">
        shake
    </div><br />

    <div class="outline">
        <img src="..\images\16463302_1575867565765806_1255191242671665688_o (2).jpg" class="hourglass">
    </div>
    <br />
    <br />
    <br />
    <div class="outline">
        <img src="..\images\16463302_1575867565765806_1255191242671665688_o (2).jpg" class="tracer">
    </div>
    <br />
    <br />
    <br />

</body>

</html>