<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>John Haney Portfolio</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css"
        integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <!--BootStrap JS script tags-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="../styles/main.css">
    <!--tab icon link -->
    <link rel="icon" href="../images/logoAlt.png">
</head>

<body>
    <!--navbar-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href=home.html><img src="../images/johnLogo.png" class="logo"
                style="width: 106px; height: 106px;"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">

                    <a class="nav-link" href="Location.html">Location</a>

                </li>
                <li class="nav-item dropdown">

                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Projects
                    </a>

                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                        <a class="dropdown-item" href="Calculator.html">Calculator</a>
                        <a class="dropdown-item" href="dictionary.html">Phonetic Dictionary</a>
                        <a class="dropdown-item" href="Message.html">message</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>

                    </div>
                </li>
                <li class="nav-item dropdown">

                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        User Account
                    </a>

                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="Login.html">Log in</a>
                        <a class="dropdown-item" href="Register.html">Sign up</a>
                        <div class="dropdown-divider"></div>
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search projects" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <!--end of navbar-->
    <!--Entrance section-->
    <div class="entrance">

        <section class="about-me" id="about">
            <h2 class="section__title section__title--about">Who I am</h2>
            <p class="section__subtitle section__subtitle--about" style="font-size: 1.25em;">
                The one thing I enjoy more than a complex problem, is a simple solution.
            </p>

            <div class="about--me__body">
                <p>This is a wider card with supporting text below as a natural lead-in to additional content. This
                    content is a little bit longer.</p>
            </div>

            <img src="C:\Users\John\Desktop\MyPortfolio\Images\temp_profile_image3666821784009153105.JPG"
                alt="Different image of headshot John" class="about-me__img">
        </section>
    </div>
    <!--What I do section-->
    <section class="my-services" id="services">
        <h2 class="section__title section__title--services">What I do</h2>
        <div class="services">
            <div class="service">
                <h3>Web Development</h3>
                <p>here is a place holder for the text to be added in later
                    the This course will teach you to build and deploy a neat portfolio for yourself. Perfect to
                    showcase your skills and experience to potential employers. You also get $100 in free credits from
                    DigitalOcean!
                </p>
            </div>
            <div class="service">
                <h3>Data Analitics</h3>
                <p>here is a place holder for the text to be added in later
                    the This course will teach you to build and deploy a neat portfolio for yourself. Perfect to
                    showcase your skills and experience to potential employers. You also get $100 in free credits from
                    DigitalOcean!</p>
            </div>
            <div class="service">
                <h3>Machine Learning</h3>
                <p>here is a place holder for the text to be added in later
                    the This course will teach you to build and deploy a neat portfolio for yourself. Perfect to
                    showcase your skills and experience to potential employers. You also get $100 in free credits from
                    DigitalOcean!</p>
            </div>
        </div>
    </section>
    <!--Flexbox gid-->
    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow" id="grid-tiles">
                        <!--carousel1-->

                        <!--end of carousel-->
                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural
                                lead-in to
                                additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-primary" id="button-color"
                                        onclick="window.location.href='ContactForm.html';">View</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <!--carousel2-->

                        <!--end of carousel-->
                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural
                                lead-in to
                                additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-primary" id="button-color"
                                        onclick="window.location.href='ContactForm.html';">View</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <!--carousel3-->

                        <!--end of carousel-->
                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural
                                lead-in to
                                additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-primary" id="button-color"
                                        onclick="window.location.href='ContactForm.html';">View</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--footer-->
    <footer class="footer mt-auto py-3">
        <div class="footer-container">
            <a class="navbar-brand" href=home.html><img src="../images/johnLogo.png" class="logo"
                    style="width: 106px; height: 106px; margin-left: 3rem;"></a>
            <span class="text-muted"><a href="mailto: dongyonkim8@gmail.com">
                    <img src="../images/icons8-important-mail-24.png"> Email: dongyongkim8@gmail.com
                </a>
            </span>
            <span class="text-muted">
                <img src="../images/icons8-phone-26.png"> Phone: (603) 244-0939
            </span>
            <span class="text-muted">
                <a href="https://github.com/dongyongkim603">
                    <img src="../images/icons8-github-24.png"> GitHub: github.com/dongyongkim603
                </a>
            </span>
            <span class="text-muted">
                <a href="https://www.linkedin.com/in/john-haney-280121140/">
                    <img src="../images/icons8-linkedin-24.png"> LinkedIn: linkedin.com/in/john-haney
                </a>
            </span>
        </div>
    </footer>
    <!--end of footer-->
</body>

</html>