<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Message</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css"
        integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <!--BootStrap JS script tags-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <!--local CSS-->
    <link rel="stylesheet" type="text/css" href="..\styles\main.css">
    <!--tab icon link -->
    <link rel="icon" href="../images/logoAlt.png">
    <!--local message JS-->
    <script async type="text/javascript" src="../js/message.js"></script>
    <script src="../js/index.js" defer></script>
</head>

<body>
    <!--navbar-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href=../index.html><img src="../images/johnLogo.png" class="logo"
                style="width: 106px; height: 106px;"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="About.html">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="Location.html">Location</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="ContactForm.html">Contact</a>
                </li>
                <li class="nav-item dropdown">

                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Front-End
                    </a>

                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                        <a class="dropdown-item" href="Calculator.html">Calculator</a>
                        <a class="dropdown-item" href="dictionary.html">Phonetic Dictionary</a>
                        <a class="dropdown-item" href="Message.html">Instant Message</a>
                        <!-- <a class="dropdown-item" href="tetrisy.html">Tetrisy</a> -->
                    </div>
                </li>
                <li class="nav-item dropdown">

                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Java
                    </a>

                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                        <a class="dropdown-item" href="Dijkstra.html">Dijkstra</a>
                        <a class="dropdown-item" href="CMS.html">CMS</a>
                        <a class="dropdown-item" href="MP3Player.html">MP3 Player</a>
                        <!-- <a class="dropdown-item" href="tetrisy.html">Tetrisy</a> -->
                    </div>
                </li>
                <li class="nav-item dropdown">

                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        User Account
                    </a>

                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="Login.html">Log in</a>
                        <a class="dropdown-item" href="Register.html">Sign up</a>
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search projects" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <!--end of navbar-->
    <div id="form">
        <div class="icon">
            <h1 id="formTitle">Try out messaging</h1>
        </div>
        <!-- messaging Form -->
        <div id="response1" style="padding-top: 2rem;"></div>
        <input type="text area" placeholder="enter name" id="name1" />
        <br>
        <div id="inner-form">
            <div id="feedback"></div>
            <textarea rows="4" cols="50" id="msg1" placeholder="Write message here..."></textarea><br />
        </div>
        <div class="form-group" id="form-group">
            <input type="submit" id="submit1" class="fadeIn fourth" value="Submit" />
        </div>
        <!-- form-group// -->
    </div>

    <div id="form" style="margin-bottom: 15rem;">
        <div class="icon">
            <h1 id="formTitle">Try out messaging</h1>
        </div>

        <!-- Login Form -->
        <div id="response2" style="padding-top: 2rem;"></div>
        <input type="text area" placeholder="enter name" id="name2" />
        <br>
        <div id="inner-form">
            <div id="feedback"></div>
            <textarea rows="4" cols="50" id="msg2" placeholder="Write message here..."></textarea><br />
        </div>
        <div class="form-group" id="form-group">
            <input type="submit" id="submit2" class="fadeIn fourth" value="Submit" />
        </div> <!-- form-group// -->
    </div>
    <!--footer-->
    <footer class="footer mt-auto py-3">
        <div class="footer-container">
            <a class="navbar-brand" href=../index.html><img src="../images/johnLogo.png" class="logo"
                    style="width: 106px; height: 106px; margin-left: 3rem;"></a>
            <span class="text-muted"><a href="mailto: dongyonkim8@gmail.com">
                    <img src="../images/icons8-important-mail-24.png"> Email: dongyongkim8@gmail.com
                </a>
            </span>
            <span class="text-muted">
                <img src="../images/icons8-phone-26.png"> Phone: (603) 244-0939
            </span>
            <span class="text-muted">
                <a href="https://github.com/dongyongkim603">
                    <img src="../images/icons8-github-24.png"> GitHub: dongyongkim603
                </a>
            </span>
            <span class="text-muted">
                <a href="https://www.linkedin.com/in/john-haney-280121140/">
                    <img src="../images/icons8-linkedin-24.png"> LinkedIn: john-haney
                </a>
            </span>
            <!--special hamburger -->
            <div>
                <p>More Info</p>
                <button class="nav-toggle" aria-label="toggle navigation">
                    <span class="hamburger"></span>
                </button>
                <nav class="nav">
                    <div class="hamburger-content">
                        Hello, this page is a prototype for a instant messaging application. The way it works is it uses
                        some JavaScript to
                        find the text fields and areas and creates variables from thier inputs. The script also adds
                        event listeners that
                        look for either the submit button to be clicked or for the users to hit the enter key.
                        Currently, this is just a prototype
                        and therefor there isn't any network capabilities.
                        <br>
                        <br>
                        If you are interested in looking at the script files or any other of my programs I have linked
                        this program's GitHub to the footer.
                        Feel free to check it out and let me know if you have any questions.
                    </div>
                </nav>
            </div>
            <!--end of special hamburger -->
        </div>
    </footer>
    <!--end of footer-->
</body>

</html>